{{ $menu := (index .Site.Data .Site.Language.Lang).menu }}

{{ if $menu.enable }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="carta">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with $menu.title }}{{ index (split . " ") 0 }}{{ end }}<span class="color">
							{{ with $menu.title }}{{ index (split . " ") 1 }}{{ end }}</span></h2>
					<div class="border-meghna"></div>
                    <p>{{ with $menu.description }}{{ . }}{{ end }}</p>
                </div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
                <!-- TODO maximum category width -->
                <!-- First level -->
				<div class="btn-group btn-group-toggle portfolio-filter menu-level-one justify-content-center d-flex flex-wrap" data-toggle="buttons">
					<label class="btn active">
						<input type="radio" autocomplete="off" name="shuffle-filter" value="all" checked>{{ i18n "all"}}
					</label>
                    {{ range $menu.categories }}
					<label class="btn">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ .name | urlize }}">{{ .name }}
					</label>
					{{ end }}
				</div>

                <!-- Second level -->
                {{ range $parent := $menu.categories }}
                {{ if .subcategories }}
				<div class="btn-group btn-group-toggle portfolio-filter menu-level-two justify-content-center d-none flex-wrap" parent="{{ $parent.name | urlize }}" data-toggle="buttons">
					<label class="btn active">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ $parent.name | urlize }}" checked>{{ i18n "all"}}
					</label>
                    {{ range .subcategories }}
					<label class="btn">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ .name | urlize }}">{{ .name }}
					</label>
                    {{ end }}
				</div>
                {{ end }}
                {{ end }}

                <!-- Third level -->
                {{ range $menu.categories }}
                {{ range $parent := .subcategories }}
                {{ if .subcategories }}
				<div class="btn-group btn-group-toggle portfolio-filter menu-level-three justify-content-center d-none flex-wrap" parent="{{ $parent.name | urlize }}" data-toggle="buttons">
					<label class="btn active">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ $parent.name | urlize }}" checked/>{{ i18n "all"}}
					</label>
                    {{ range .subcategories }}
					<label class="btn">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ .name | urlize }}">{{ .name }}
					</label>
                    {{ end }}
				</div>
                {{ end }}
                {{ end }}
                {{ end }}
			</div>
		</div>

		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range $menu.items }}
			<figure class="col-lg-4 shuffle-item"
				data-groups="[{{ range $index, $element:= .categories }}{{ if ne $index 0 }},{{end}}&quot;{{ . | urlize}}&quot;{{ end }}]">
				<div class="portfolio-block mb-4">
					<img class="img-fluid" src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
                    <div class="portfolio-title">{{ .name }}</div>
					<div class="caption">
						<a class="search-icon image-popup" data-effect="mfp-with-zoom" href="{{ .image | relURL }}"
							data-lightbox="image-1">
							<i class="ti-search"></i>
						</a>
						<h4 class="mt-3">
							{{ .name }}
						</h4>
						<p>{{ .content | markdownify }}</p>
					</div>
				</div>
			</figure>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
