{{ $menu := (index .Site.Data .Site.Language.Lang).menu }}

{{ if $menu.enable }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<section class="portfolio section" id="carta">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with $menu.title }}{{ index (split . " ") 0 }}{{ end }}<span class="color">
							{{ with $menu.title }}{{ index (split . " ") 1 }}{{ end }}</span></h2>
					<div class="border-meghna"></div>
                    <p>{{ with $menu.description }}{{ . }}{{ end }}</p>
                </div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
                <!-- TODO maximum category width -->
                <!-- First level -->
				<div class="btn-group btn-group-toggle portfolio-filter menu-level-one justify-content-center d-flex flex-wrap" data-toggle="buttons">
					<label class="btn active">
						<input type="radio" autocomplete="off" name="shuffle-filter" value="all" checked>{{ i18n "all"}}
					</label>
                    {{ range $menu.categorias }}
					<label class="btn">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ .nombre | urlize }}">{{ .nombre }}
					</label>
					{{ end }}
				</div>

                <!-- Second level -->
                {{ range $parent := $menu.categorias }}
                {{ if .subcategorias }}
				<div class="btn-group btn-group-toggle portfolio-filter menu-level-two justify-content-center d-none flex-wrap" parent="{{ $parent.nombre | urlize }}" data-toggle="buttons">
					<label class="btn active">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ $parent.nombre | urlize }}" checked>{{ i18n "all"}}
					</label>
                    {{ range .subcategorias }}
					<label class="btn">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ .nombre | urlize }}">{{ .nombre }}
					</label>
                    {{ end }}
				</div>
                {{ end }}
                {{ end }}

                <!-- Third level -->
                {{ range $menu.categorias }}
                {{ range $parent := .subcategorias }}
                {{ if .subcategorias }}
				<div class="btn-group btn-group-toggle portfolio-filter menu-level-three justify-content-center d-none flex-wrap" parent="{{ $parent.nombre | urlize }}" data-toggle="buttons">
					<label class="btn active">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ $parent.nombre | urlize }}" checked/>{{ i18n "all"}}
					</label>
                    {{ range .subcategorias }}
					<label class="btn">
                        <input type="radio" autocomplete="off" name="shuffle-filter" value="{{ .nombre | urlize }}">{{ .nombre }}
					</label>
                    {{ end }}
				</div>
                {{ end }}
                {{ end }}
                {{ end }}
			</div>
		</div>

		<div class="row shuffle-wrapper justify-content-center">
            {{ $i := 0 }}
			{{ range $menu.items }}
			{{"<!-- Portfolio item -->" | safeHTML}}
			<figure class="col-lg-4 shuffle-item" data-groups="[{{ range $index, $element:= .categorias }}{{ if ne $index 0 }},{{ end }}&quot;{{ . | urlize }}&quot;{{ end }}]">
				<div class="portfolio-block mb-4">
					<img class="img-fluid" src="{{ .imagen_pequenya | absURL }}" onerror="this.onerror=null;this.src='{{ .imagen | absURL }}'" alt="{{ .nombre }}">
                    <a class="caption open-popup-link" href="#carta-img{{ $i }}" data-effect="mfp-with-zoom">
                        <span>{{ .nombre }}</span>
                        <i class="ti-search"></i>
                    </a>
				</div>
			</figure>

			{{"<!-- Portfolio pop-up with more data -->" | safeHTML}}
            <div id="carta-img{{ $i }}" class="mfp-hide">
                <div class="popup-content">
                    <img src="{{ .imagen | relURL }}" alt="{{ .nombre }}">
                    <div class="popup-content-text">
                        <h1>{{ .nombre }}</h1>
                        {{ with .ingredientes }}
                        <p><b>{{ $menu.titulo_ingredientes | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                        {{ with .alergenos }}
                        <p><b>{{ $menu.titulo_alergenos | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                        {{ with .txt_aclaraciones }}
                        <p><b>{{ $menu.titulo_txt_aclaraciones | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                        {{ with .txt_temporal }}
                        <p><b>{{ $menu.titulo_txt_temporal | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                        {{ with .grad_alcoholica }}
                        <p><b>{{ $menu.titulo_grad_alcoholica | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                        {{ with .vol_ml }}
                        <p><b>{{ $menu.titulo_vol_ml | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                        {{ with .edul_gr }}
                        <p><b>{{ $menu.titulo_edul_gr | markdownify }}:</b> {{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ $i = add $i 1 }}
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
