{{ $contact := (index .Site.Data .Site.Language.Lang).contact }}

{{ if $contact.enable }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with $contact.title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with $contact.title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{"<!-- Contact Details -->" | safeHTML}}
			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>{{ $contact.subtitle | markdownify }}</h3>
				<p> {{ $contact.content | markdownify }} </p>
				<div class="contact-details">
					{{ range $contact.contact_details }}
					<div class="con-info clearfix">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
					</div>
					{{ end }}
				</div>
			</div>

			{{"<!-- Contact Form -->" | safeHTML}}
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" class="form-meghna" method="post" role="form">
					<div class="form-group">
                        <input type="text" placeholder="{{ $contact.subject_txt }}" class="form-control" name="subject" id="subject">
					</div>

					<div class="form-group">
                        <textarea rows="6" placeholder="{{ $contact.message_txt }}" class="form-control" name="message" id="message"></textarea>
					</div>

					<div id="cf-submit">
						<button type="submit" id="contact-submit" class="btn btn-transparent btn-block" value="Submit">{{ $contact.submit_txt }}</button>
					</div>
				</form>

                {{ with $contact.help_txt }}
                <p id="contact-help" class="contact-help">{{ . | markdownify }}</p>
                {{ end }}
			</div>
		</div>
	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
