{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.glovo.enable }}
{{ with $data.glovo }}
{{"<!-- Glovo Section -->" | safeHTML}}
<section class="bg-one glovo section" id="glovo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
          {{ partial "color-title.html" (dict "title" .title "level" "2") }}
          <div class="border-meghna"></div>
        </div>
      </div>

      {{ range .tarjetas }}
      <div class="col-sm-6 text-center wow fadeInUp" data-wow-duration="500ms">
        <div class="block">
          <div class="icon-box">
            {{ with .icono }}<i class="{{ . }}"></i>{{ end }}
          </div>
          <div class="content text-center">
            <h3>{{ .titulo }}</h3>
            <p>{{ .texto | markdownify }}</p>
            <a target="_blank" rel="noreferrer" href="{{ .link }}" role="button" class="btn btn-transparent btn-block">
              <img src="https://apprecs.org/ios/images/app-icons/256/4c/951812684.jpg"/>
              <span>{{ $data.glovo.texto_boton }}</span>
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /Glovo -->" | safeHTML}}
{{ end }}
{{ end }}
