{{/* Parameters taken:
   *   level: the height/importance, from 1 to 3
   *   default: the filter-value taken for the default filter
   *   defaultIcon: the icon for the default filter
   *   children: the rest of the filters
   *   message_prefix (opt): the colored prefix for the message
   *   message (opt): the text above the bar
   *   icon: the icon fallback for the rest of the filters
   *   class_color: the name of the class of which the color should be
   *   inherited. First levels will use their assigned colors.
   *   parent: the parent name for the filter (if its level is 2 or 3)
   */}}

{{ $data := . }}
{{ if ne .children nil }}
<div class="menu-filter {{ if ne .level "1" }}d-none{{ end }}" filter-level="{{ .level }}" {{ with .parent }}filter-parent="{{ md5 . }}"{{ end }}>
  {{ with .message }}
  <div class="menu-filter-step">
    <h3>{{ with $data.message_prefix }}{{ . }}{{ else }}{{ i18n "step" }} {{ $data.level }}:{{ end }}</h3>
    <p>{{ . }}</p>
  </div>
  {{ end }}

  <div class="btn-group btn-group-toggle btn-transparent menu-filter-bar justify-content-center d-flex flex-wrap" data-toggle="buttons">
    <label class="btn filter-{{ if eq .level "1" }}default{{ else }}{{ .class_color }}{{ end }} active">
      <input type="radio" autocomplete="off" name="shuffle-filter" filter-value="{{ if eq .level "1" }}{{ .default }}{{ else }}{{ md5 .default }}{{ end }}" checked>
      <i class="{{ .defaultIcon }}"></i>
      <span>{{ i18n "all" }}</span>
    </label>
    {{ range .children }}
    <label class="btn filter-{{ if eq $data.level "1" }}{{ md5 .nombre }}{{ else }}{{ $data.class_color }}{{ end }}">
      <input type="radio" autocomplete="off" name="shuffle-filter" filter-value="{{ md5 .nombre }}">
      <i class="{{ if .icono }}{{ .icono }}{{ else }}{{ $data.icon }}{{ end }}"></i>
      <span>{{ .nombre }}</span>
    </label>
    {{ end }}
  </div>
</div>
{{ end }}
