{{ $menu := (index .Site.Data .Site.Language.Lang).menu }}

{{ if $menu.enable }}
{{"<!-- Menu Section -->" | safeHTML}}
<section class="menu section" id="carta">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        {{"<!-- Section title -->" | safeHTML}}
        <div class="title text-center" style="padding-bottom: 25px;">
          <h2>{{ with $menu.title }}{{ index (split . " ") 0 }}{{ end }}<span class="color">
              {{ with $menu.title }}{{ index (split . " ") 1 }}{{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
        {{ "<!-- End of section title -->" | safeHTML }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{"<!-- Section subtitle -->" | safeHTML}}
        <div class="text-center">
          <h3 style="font-weight: 800">
          {{ with $menu.description_icon }}<i class="field-icon {{ . }}"></i>{{ end }}
            <span>{{ with $menu.description }}{{ . }}{{ end }}</span>
          </h3>
        </div>
        {{ "<!-- End of section subtitle -->" | safeHTML }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {{ "<!-- First level -->" | safeHTML }}
        {{ partial "menu-bar.html" (dict "context" . "level" "1" "message_prefix" $menu.paso1_prefijo "message" $menu.paso1 "default" "all" "defaultIcon" $menu.icono_todo "children" $menu.categorias) }}

        {{ "<!-- Second level -->" | safeHTML }}
        {{ range $parent := $menu.categorias }}
        {{ partial "menu-bar.html" (dict "context" . "level" "2" "message_prefix" $menu.paso2_prefijo "message" $menu.paso2 "default" $parent.nombre "defaultIcon" $menu.icono_todo "icon" $parent.icono "class_color" (md5 $parent.nombre) "parent" $parent.nombre "children" $parent.subcategorias) }}
        {{ end }}

        {{ "<!-- Third level -->" | safeHTML }}
        {{ range $grandparent := $menu.categorias }}
        {{ range $parent := $grandparent.subcategorias }}
        {{ partial "menu-bar.html" (dict "context" . "level" "3" "message_prefix" $menu.paso3_prefijo "message" $menu.paso3 "default" $parent.nombre "defaultIcon" $menu.icono_todo "icon" $grandparent.icono "parent" $parent.nombre "class_color" (md5 $grandparent.nombre) "children" $parent.subcategorias) }}
        {{ end }}
        {{ end }}
      </div>
    </div>

    <style>
    .filter-reset,
    .filter-reset.active,
    .filter-reset:hover,
    .filter-reset:focus {
      background-color: {{ $menu.color_todo }} !important;
    }

    {{ range $menu.categorias }}
      .filter-{{ md5 .nombre }},
      .filter-{{ md5 .nombre }}:active,
      .filter-{{ md5 .nombre }}:hover,
      .filter-{{ md5 .nombre }}:focus {
        background-color: {{ .color }};
      }
    {{ end }}
    </style>

    {{ $all := sort $menu.items "nombre" }}

    {{/* The items will be shown according to certain rules:
       *
       * - Items with `prioridad: true` go first
       * - Items with `disponible: false` go last
       * - The rest may go anywhere in the middle
       *
       * All of them will be sorted alphabetically by their name.
       */}}
    {{ $high_priority := slice }}
    {{ $low_priority := slice }}
    {{ $rest := slice }}
    {{ range $item := $all }}
      {{ if (eq (index $item "prioridad") true) }}
        {{ $high_priority = $high_priority | append $item }}
      {{ else if (eq (index $item "disponible") false) }}
        {{ $low_priority = $low_priority | append $item }}
      {{ else }}
        {{ $rest = $rest | append $item }}
      {{ end }}
    {{ end }}

    {{ $items := $high_priority | append $rest | append $low_priority }}

    <div class="row shuffle-wrapper justify-content-center">
      {{/* Iterating the items to add them to the site. */}}
      {{ $i := 0 }}
      {{ range $item := $items }}

        {{/* Some items have text, but standalone ones just show the image
           when selected. */}}
        {{ $standalone := true }}
        {{ range $menu.nombres_datos }}
          {{ if ne (index $item .) nil }}
            {{ $standalone = false }}
          {{ end }}
        {{ end }}

        {{"<!-- Portfolio item -->" | safeHTML}}
        <figure class="col-lg-4 shuffle-item d-none" data-groups='[{{ range $index, $element:= .categorias }}{{ if ne $index 0 }},{{ end }}"{{ . | md5 }}"{{ end }}]'>
          <div class="menu-block mb-4">
            <a class="open-popup-{{ if $standalone }}standalone{{ else }}inline{{ end }}" href="{{ if $standalone }}{{ .imagen | relURL }}{{ else }}#carta-img{{ $i }}{{ end }}">
              {{ if ne .disponible false }}
              <img class="lozad img-fluid" data-src="{{ .imagen_pequenya | absURL }}" alt="{{ .nombre }}">
              {{ end }}
              <div class="caption">
                <span>{{ .nombre }}</span>
                <i class="las la-search"></i>
              </div>
            </a>
          </div>
        </figure>

        {{"<!-- Portfolio pop-up with more data -->" | safeHTML}}
        <div id="carta-img{{ $i }}" class="carta-img mfp-hide">
          {{ if not $standalone }}
          <div class="popup-content">
            <div class="popup-img">
              <img class="lozad" data-src="{{ .imagen | relURL }}" alt="{{ .nombre }}">
            </div>
            <div class="popup-details">
              <h1>{{ .nombre }}</h1>
              {{ range $menu.nombres_datos }}
                {{ if (index $item .) }}
                <div class="field-{{ urlize . }}">
                  <p>
                  <i class="field-icon {{ index $menu.iconos_datos . }}"></i>
                  {{ with (index $menu.titulos_datos .) }}<span class="field-title">{{ . }}: </span>{{ end }}
                  <span class="field-description">{{ (index $item .) | markdownify }}</span>
                  </p>
                </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
        {{ $i = add $i 1 }}
      {{ end }}
    </div>

    <button id="load-more-btn" class="btn btn-inverse-colors btn-block d-none" load-max="{{ $menu.max_items }}" load-increment="{{ $menu.cargar_items }}">{{ upper (i18n "load_more") }}</button>

    <div id="no-items-msg" class="menu-message" {{ if gt (len $menu.items) 0 }}style="display: none;"{{ end }}>
      <i class="{{ $menu.no_items_icono }}"></i>
      <span>{{ $menu.no_items_mensaje }}</span>
    </div>
  </div>
</section>
{{"<!-- /Menu -->" | safeHTML}}
{{ end }}
